{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}
<meta charset="UTF-8">
<head>
{{block header}}
   <ul>
      <li style="float:left"><a href=""><b>Webmod 2.0</b></a></li>
      <li style="float:right">
         {{if auth.user_id is None:}}
            {{=A('Sign In', _href=URL('default', 'user', args=['login']))}}
         {{else:}}
            {{=A('My Profile', _href=URL('default', 'profile', args=[auth.user_id]))}}
         {{pass}}
      </li>
      <li style="float:right">
         {{if auth.user_id is None:}}
            {{=A('Sign Up', _href=URL('default', 'user', args=['register']))}}
         {{else:}}
            {{=A('Logout', _href=URL('default', 'user', args='logout'))}}
         {{pass}}
      </li>
   </ul>
{{end}}
</head>

<html>

<body style="background: linear-gradient(#212229, #000000);">
    <div id="target" style="background: linear-gradient(#212229, #000000);"></div>
</body>
    <script id="template" type="text/ractive">
                <div><input type="text" id="search" name="Search" value=""/>
                <select id="search_type">
                    <option value="name">Model</option>
                    <option value="user_id">User</option>
                    <option value="tag_list">Tag</option>
                </select>
                <div class="orange_btn" on-click="beginSearch">Search</div></div>
    </script>
    <script>
        $(function() {

            var MAIN = new Ractive({
            el: '#target',
            template: '#template',
            delimiters: ['{%', '%}'],
            tripleDelimiters: ['{%%', '%%}'],
            data: {
                models: {},
                content: "",
                search_type: ""
            }
            });

            MAIN.on("beginSearch", function() {
                var search = document.getElementById("search").value;
                var search_type = document.getElementById("search_type").value;
                MAIN.set('content', search);
                MAIN.set('search_type', search_type);
                if(search){
                    $.ajax("{{=URL('default', 'search_stuff', args=['content', 'search_type'])}}",
                        {
                            data:{
                                content: MAIN.get('content'),
                                search_type: MAIN.get('search_type')
                            },
                            method: 'POST',
                            success: function (data) {
                                MAIN.set('model_dict', data['model']);
                                console.log(MAIN.get('model_dict'));
                            }
                        }
                    );
                }
            });
        });
    </script>
</html>