{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}
<meta charset="UTF-8">
<head>
{{block header}}
   <ul>
      <li style="float:left"><a href=""><b>Webmod 2.0</b></a></li>
      <li style="float:right">
         {{if auth.user_id is None:}}
            {{=A('Sign In', _href=URL('default', 'user', args=['login']))}}
         {{else:}}
            {{=A('My Profile', _href=URL('default', 'profile', args=[auth.user_id]))}}
         {{pass}}
      </li>
      <li style="float:right">
         {{if auth.user_id is None:}}
            {{=A('Sign Up', _href=URL('default', 'user', args=['register']))}}
         {{else:}}
            {{=A('Logout', _href=URL('default', 'user', args='logout'))}}
         {{pass}}
      </li>
   </ul>
{{end}}
</head>

<html>


    <div id="target" style="background: linear-gradient(#212229, #000000);"></div>

    <script id="template" type="text/ractive">
    <body style="background: linear-gradient(#212229, #000000);">
                <div><input type="text" id="search" name="Search" value=""/>
                <select id="search_type">
                    <option value="name">Model</option>
                    <option value="user_id">User</option>
                    <option value="tag_list">Tag</option>
                </select>
                <div class="orange_btn" on-click="beginSearch">Search</div></div>
    </body>
        {% #model_dict:name %}
        {% thumbnail %}
        {% /model_dict %}
    </script>
    <script>
        $(function() {

            var MAIN = new Ractive({
            el: '#target',
            template: '#template',
            delimiters: ['{%', '%}'],
            tripleDelimiters: ['{%%', '%%}'],
            data: {
                models: {},
                content: "",
                search_type: ""
            }
            });

            MAIN.on("beginSearch", function() {
                var search = $("search").value;
                var search_type = $("search_type").value;
                if(search){
                    $.ajax("{{=URL('default', 'search_stuff', args=['search','search_type'])}}",
                        {
                            data:{
                                search: search,
                                search_type: search_type
                            },
                            method: 'POST',
                            success: function (data) {
                                MAIN.set('model_dict', data['model']);
                            }
                        }
                    );
                }
            });
        });
    </script>
</html>