{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}

<head>
{{block header}}
   <ul>
      <li style="float:left"><a href="/WebMod/default/index.html"><b>Webmod 2.0</b></a></li>
      <li style="float:right">
         {{if auth.user_id is None:}}
            {{=A('Sign In', _href=URL('default', 'user', args=['login']))}}
         {{else:}}
            {{=A('My Profile', _href=URL('default', 'profile', args=[auth.user_id]))}}
         {{pass}}
      </li>
      <li style="float:right">
         {{if auth.user_id is None:}}
            {{=A('Sign Up', _href=URL('default', 'user', args=['register']))}}
         {{else:}}
            {{=A('Logout', _href=URL('default', 'user', args='logout'))}}
         {{pass}}
      </li>
   </ul>
{{end}}
</head>

<body style="background: linear-gradient(#212229, #000000); padding:0px;">
<h2 style="color:#D98200;">
{{=T('Sign Up') if request.args(0) == 'register' else T('Log In') if request.args(0) == 'login' else T(request.args(0).replace('_',' ').title())}}
</h2>

<br>

<div class="container">
    <div class="row">
        <div id="web2py_user_form" class="col-lg-6" style="color:white;">
        {{
        if request.args(0)=='login':
            if not 'register' in auth.settings.actions_disabled:
                form.add_button(T('Sign Up'),URL(args='register', vars={'_next': request.vars._next} if request.vars._next else None),_class='orange_btn')
            pass
            if not 'request_reset_password' in auth.settings.actions_disabled:
                form.add_button(T('Lost Password'),URL(args='request_reset_password'),_class='orange_btn')
            pass
        pass
        =form
        }}
        </div>
    </div>
</div>
</body>

{{block footer}}  
  <footer class="footer" style="background-color:#0d0d0d;">
      <div class="container-fluid" style="color:#d98200; text-align:center;">
         Webmod 2.0
      </div>
   </footer>
{{end}}

{{block page_js}}
<script>
    jQuery("#web2py_user_form input:visible:enabled:first").focus();
{{if request.args(0)=='register':}}
    web2py_validate_entropy(jQuery('#auth_user_password'),100);
{{elif request.args(0)=='change_password':}}
    web2py_validate_entropy(jQuery('#no_table_new_password'),100);
{{pass}}

function color1(x){
   x.style.background='linear-gradient(#d98200, #ffe0b3)';
}
function color2(x){
   x.style.background='linear-gradient(#d98200, #663d00)';
}

</script>
{{end page_js}}
