.colorful {
  color: $clrHilight;
}

//~~~~~~~~~~
//index.html
//~~~~~~~~~~

.indexHeader {
   color: #5555FF;
   text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.myBulletin {
    padding: 20px;
    background-image: url(http://people.ucsc.edu/~jbernay/CMPS%20183/hw3/images/blank_bulletin_board.png);
    width: 400px;
    height: 354px;
    margin: 28px;
    border-radius: 20px;
    position: relative;
    vertical-align: top;
    text-align: center;
    font-family: Kristen ITC;
    display: inline-block;
}

.boardTitle {
    text-align: top;
    display: inline-block;
    font-size: 150%;
    font-weight: bold;
    white-space: nowrap;
    width: 15em;
    overflow: hidden;
    text-overflow: ellipsis;
}

.boardDetails {
    text-align: center;
    margin-top: 50px;
    font-size: 500%;
}

.bulletDate {
    font-size: 100%;
    position: absolute;
    bottom: 30px;
    left: 40px;
    color: #000000;
}

.boardNoResults {
    text-align: center;
    color: #5555FF;
    font-size: 400%;
    font-family: Kristen ITC;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

//~~~~~~~~~~~~~~~~~~~
//bulletin_board.html
//~~~~~~~~~~~~~~~~~~~

.boardHeader {
    padding: 10px;
    color: #FFFFFF;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.myPosts {
    padding: 20px;
    background-image: url(http://people.ucsc.edu/~jbernay/CMPS%20183/hw3/images/Post-It-Note-with-Push-Pin.png);
    width: 400px;
    height: 354px;
    margin: 28px;
    border-radius: 20px;
    position: relative;
    vertical-align: top;
    text-align: center;
    font-family: Kristen ITC;
    display: inline-block;
}

.postOptions {
    margin-right: 50px;
    text-align: right;
}

.postTitle {
    margin-right: 30px;
    margin-left: 30px;
    display: inline-block;
    font-size: 150%;
    font-weight: bold;
    white-space: nowrap;
    width: 12em;
    overflow: hidden;
    text-overflow: ellipsis;
}

.postDetails {
    margin-left: 50px;
    margin-right: 50px;
    line-height: 1.5em;
    height: 12em;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 100%;
    text-align: left;
}

.postedDate {
    margin-left: 50px;
    margin-right: 50px;
    font-size: 100%;
    position: absolute;
    bottom: 30px;
    left: 20px;
}

.postNoResults {
    text-align: center;
    color: #FFFFFF;
    font-family: Kristen ITC;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}